.collapsible-list {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.collapsible-list:active {
    background-color: #45a049; 
}
.content {
    display: none;
    margin-left: 20px;
    background-color: #F4F4F4;
    border-radius: 8px;
}

/* Summary Section Styling */
.summary-section {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Space between columns */
}
.summary-column {
    flex: 1; /* Equal width for both columns */
    border: 1px solid #ddd; /* Optional: for visual separation */
    padding: 10px;
    border-radius: 5px;
}

.filings-summary-section {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.filings-summary-section h2, h3 {
    color: #333;
}

.filings-summary-section ul {
    list-style-type: none;
    padding: 0;
}

.filings-summary-section ul li {
    margin: 5px 0;
    padding: 5px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Navigation Bar Styling */
.nav-bar {
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    /*background-color: #f4f4f4;*/
    background-color: #007BFF;
    border-bottom: 2px solid #ccc;
}
.nav-bar li {
    margin: 0 10px;
}
.nav-bar a {
    text-decoration: none;
    padding: 10px 15px;
    /*color: #333;*/
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.nav-bar a:hover {
    background-color: #1abc9c;
    color: white;
}

/* Industry Nav Menu Styling */
.collapsible-navmenu {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}
.collapsible-navmenu:hover {
    background-color: #1abc9c;
    color: white;
}
.collapsible-navmenu:active {
    background-color: #1abc9c; /* When the collapsible button is clicked, change the background color */
}

.industry-nav {
    position: absolute;
    top: 20px; /* Adjust this to position the industry menu as desired */
    right: 20px; /* Adjust to move the menu to the top-right */
}
.industry-nav ul {
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    background-color: #2c3e50; /* Dark background for the menu */
    border-radius: 8px; /* Optional rounded corners */
    overflow: hidden; /* Ensures no overflow when the content is expanded */
}
.industry-nav li {
    padding: 10px 15px;
    border-bottom: 1px solid #34495e; /* Light border between items */
}
.industry-nav li:last-child {
    border-bottom: none; /* Remove border from the last item */
}
.industry-nav a {
    text-decoration: none;
    color: white; /* White text on dark background */
    display: block;
}
.industry-nav a:hover {
    color: #1abc9c; /* Light green on hover */
}