<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily SEC Filings Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
    <h1>Daily SEC Filings Summary</h1>

    <nav>
        <ul class="nav-bar">
            {% for type_dict in sql_summary.parsed_by_type %}
                <li><a href="{{ url_for('routes.filing_type_page', filing_type=type_dict.type.replace('/', '_')) }}">{{ type_dict.type }}</a></li>
            {% endfor %}
        </ul>

        <!-- Expandable Industry Navigation Menu in Top Right -->
        <div class="industry-nav">
            <button class="collapsible-navmenu" onclick="toggleContent('industryMenu')">Browse By Industry</button>
            <ul id="industryMenu" class="content">
                {% if sql_summary.parsed_by_industry %}
                    {% for sic_dict in sql_summary.parsed_by_industry %}
                        <li>
                            <a href="{{ url_for('routes.industry_page', sic=sic_dict.sic_code) }}">
                                {{ sic_dict.sic_code }} - {{ sic_dict.sic_desc }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>No industry data available</li>
                {% endif %}
            </ul>
        </div>
    </nav>

    </header>

    <!-- Summary of all the day's filings, calculated from CSV data -->
    <div id="all-filings-section" class="filings-summary-section">
        <h2>All Daily Filings (Both Unparsed and Parsed)</h2>
        <p>Total # Filings: {{ csv_summary.total_filings }}</p>
    
        <div class="summary-section">
            <!-- Filings by Type -->
            <div class="summary-column">
                <h3>Filings by Type:</h3>
                <p>Total # Types: {{ csv_summary.all_by_type | length }}</p>
                <ul>
                    {% if csv_summary.all_by_type %}
                        {% for filing_type, count in csv_summary.all_by_type[:10] %}
                            <li>
                                <strong>{{ filing_type }}</strong>: {{ count }} 
                                ({{ '%.2f' | format((count / csv_summary.total_filings) * 100) }}%)
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>No data available</li>
                    {% endif %}
                </ul>
                {% if csv_summary.all_by_type | length > 10 %}
                    <span class="collapsible-list" onclick="toggleContent('allTypes')">Show All</span>
                    <ul id="allTypes" class="content">
                        {% for filing_type, count in csv_summary.all_by_type[10:] %}
                            <li>
                                <strong>{{ filing_type }}</strong>: {{ count }} 
                                ({{ '%.2f' | format((count / csv_summary.total_filings) * 100) }}%)
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <!-- Filings by Company -->
            <div class="summary-column">
                <h3>Filings by Company/Filer:</h3>
                <p>Total # Companies/Filers: {{ csv_summary.all_by_company | length }}</p>
                <ul>
                    {% if csv_summary.all_by_company %}
                        {% for company, count in csv_summary.all_by_company[:10] %}
                            <li>
                                <strong>{{ company }}</strong>: {{ count }} 
                                ({{ '%.2f' | format((count / csv_summary.total_filings) * 100) }}%)
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>No data available</li>
                    {% endif %}
                </ul>
                {% if csv_summary.all_by_company | length > 10 %}
                    <span class="collapsible-list" onclick="toggleContent('allCompanies')">Show All</span>
                    <ul id="allCompanies" class="content">
                        {% for company, count in csv_summary.all_by_company[10:] %}
                            <li>
                                <strong>{{ company }}</strong>: {{ count }} 
                                ({{ '%.2f' | format((count / csv_summary.total_filings) * 100) }}%)
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    
    <br>
    
    <!-- Summary of parsed filings, pulled from SQL DB -->
    <div id="parsed-filings-section" class="filings-summary-section">
        <h2>Parsed Filings</h2>
        <p>Total Parsed Filings: {{ sql_summary.total_filings_parsed }}</p>
    
        <div class="summary-section">
            <!-- Filings by Type -->
            <div class="summary-column">
                <h3>Filings by Type:</h3>
                <p>Total # Types: {{ sql_summary.parsed_by_type | length }}</p>
                <ul>
                    {% if sql_summary.parsed_by_type %}
                        {% for type_dict in sql_summary.parsed_by_type[:10] %}
                            <li>
                                <strong>{{ type_dict.type }}</strong>: {{ type_dict.count }} 
                                ({{ '%.2f' | format((type_dict.count / sql_summary.total_filings_parsed) * 100) }}%)
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>No data available</li>
                    {% endif %}
                </ul>
                {% if sql_summary.parsed_by_type | length > 10 %}
                    <span class="collapsible-list" onclick="toggleContent('parsedTypes')">Show All</span>
                    <ul id="parsedTypes" class="content">
                        {% for type_dict in sql_summary.parsed_by_type[10:] %}
                            <li>
                                <strong>{{ type_dict.type }}</strong>: {{ type_dict.count }} 
                                ({{ '%.2f' | format((type_dict.count / sql_summary.total_filings_parsed) * 100) }}%)
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <!-- Filings by Company -->
            <div class="summary-column">
                <h3>Filings by Company/Filer:</h3>
                <p>Total # Companies/Filers: {{ sql_summary.parsed_by_company | length }}</p>
                <ul>
                    {% if sql_summary.parsed_by_company %}
                        {% for co_dict in sql_summary.parsed_by_company[:10] %}
                            <li>
                                <strong>{{ co_dict.company_name }}</strong>: {{ co_dict.count }} 
                                ({{ '%.2f' | format((co_dict.count / sql_summary.total_filings_parsed) * 100) }}%)
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>No data available</li>
                    {% endif %}
                </ul>
                {% if sql_summary.parsed_by_company | length > 10 %}
                    <span class="collapsible-list" onclick="toggleContent('parsedCompanies')">Show All</span>
                    <ul id="parsedCompanies" class="content">
                        {% for co_dict in sql_summary.parsed_by_company[10:] %}
                            <li>
                                <strong>{{ co_dict.company_name }}</strong>: {{ co_dict.count }} 
                                ({{ '%.2f' | format((co_dict.count / sql_summary.total_filings_parsed) * 100) }}%)
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Filings by Industry -->
            <div class="summary-column">
                <h3>Filings by Industry:</h3>
                <p>Total # Industries: {{ sql_summary.parsed_by_industry | length }}</p>
                <ul>
                    {% if sql_summary.parsed_by_industry %}
                        {% for sic_dict in sql_summary.parsed_by_industry[:10] %}
                            <li>
                                <strong>{{ sic_dict.sic_desc }}</strong>: {{ sic_dict.count }} 
                                ({{ '%.2f' | format((sic_dict.count / sql_summary.total_filings_parsed) * 100) }}%)
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>No data available</li>
                    {% endif %}
                </ul>
                {% if sql_summary.parsed_by_industry | length > 10 %}
                    <span class="collapsible-list" onclick="toggleContent('parsedIndustries')">Show All</span>
                    <ul id="parsedIndustries" class="content">
                        {% for sic_dict in sql_summary.parsed_by_industry[10:] %}
                                <li>
                                    <strong>{{ sic_dict.sic_desc }}</strong>: {{ sic_dict.count }} 
                                    ({{ '%.2f' | format((sic_dict.count / sql_summary.total_filings_parsed) * 100) }}%)
                                </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>        

    <!-- Bootstrap and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
